<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-50 sm:px-16">
          <table class="w-600 sm:w-full">
            <component src="src/components/logo.html"></component>
            <tr>
              <td class="w-full px-24 text-left sm:px-0">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-10 sm:w-full sm:inline-block">
                      <table class="w-full p-24 bg-white rounded-xl">
                        <tr>
                          <td colspan="3">
                            <h2 class="m-0 text-2xl text-center leading-24">
                              Ваш заказ доставлен
                            </h2>
                            <p class="pt-10 text-base leading-24">
                              Уважаемый покупатель, Ваш заказ
                              <b>@{{ $order->order_number }}</b> доставлен по
                              указанному Вами адресу.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <p class="pt-10 text-base text-center leading-24">
                              Благодарим Вас за покупку!
                            </p>
                            <p class="py-32 text-base text-center leading-24">
                              <a
                                href="@{{ env('APP_URL') }}"
                                class="text-lg font-bold text-blue-500"
                                >Сделать новый заказ</a
                              >
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-48 text-left text-gray-500 rounded sm:px-24">
                <component src="src/components/footer.html"></component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
