<table class="w-full pt-6 pb-32">
  <tr class="w-full">
    <td class="w-5/12">
      <p class="pb-4 m-0 text-sm text-left text-gray-500">
        @{{ config('constants.phone') }}
      </p>
      <p class="pb-4 m-0 text-sm text-left text-gray-500">
        @{{ config('constants.phone2') }}
      </p>
      <p class="pb-4 m-0 text-sm text-left text-gray-500">с 10.00 до 20.00</p>
    </td>
    <td class="w-7/12">
      <a
        href="@{{ route('site.contact') }}"
        class="m-0 text-sm text-center text-gray-400 cursor-pointer"
      >
        Адреса магазинов ZOOподарки
      </a>
    </td>
  </tr>
</table>
